<html>

<head>
    <script src="//unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="//unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="//unpkg.com/@jbrowse/react-linear-genome-view/dist/react-linear-genome-view.umd.development.js"
        crossorigin></script>
</head>

<body>
    <button id="gene_button" data-location="{{location}}" hidden>
    </button>
    <div id="jbrowse_linear_genome_view"></div>
    {{js|safe}}
</body>

</html>